<div class="page-header">
  <h1 class="display-1 d-inline">Want to get in touch?</h1>
</div>
<hr />
<div class="row text-center">
  <div class="col-md-6">
    <div class="card bg-dark">
      <div class="card-body">
        <i class="fas fa-envelope fa-5x"></i>
        <h5>EMAIL</h5>
        <h6 class="mb-2 text-muted">Give me some time to read and reply! Typically only check my email during the day</h6>
        <a href="mailto:sam.alan.sato@gmail.com" class="card-link">sam.alan.sato@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card bg-dark">
      <div class="card-body">
        <i class="fas fa-phone fa-5x"></i>
        <h5>Phone</h5>
        <h6 class="mb-2 text-muted">I tend to ignore calls from numbers I don't recognize. SMS if you've never
          called
          before </h6>
        <a href="tel:862-596-7526" class="card-link">862-596-7526</a>
      </div>
    </div>
  </div>
</div>