<div class="container">
  <div class="page-header">
    <h1 class="display-1 d-inline">Work History / Timeline</h1>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <ul class="timeline">
        <li>
          <div class="card bg-dark">
            <div class="card-header">
              Revature - Software Developer <small class="float-right">July 2018 - Current</small>
            </div>
            <div class="card-body">
              <p>Software developer for Revature. 10 Weeks of training in Full-Stack web application development.
                Contracted to Cognizant for work on a project
                with Toyota Moters North America.</p>
            </div>
          </div>
        </li>
        <li id="timelineEnd">
          <div class="card bg-dark">
            <div class="card-header">
              Education - Muhlenberg College <small class="float-right">September 2014 - May 2018</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">

</div>