<div class="container">
  <div class="page-header">
    <h1 class="display-1 d-inline">Work History / Timeline</h1>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <ul class="timeline">
        <li *ngFor="let piece of myhistory">
          <div class="card bg-dark">
            <div class="card-header">
              {{piece.companyName}} - {{piece.position}} <small class="float-right">{{piece.start}} -  <div *ngIf="!piece.end" class="d-inline">Current</div><div *ngIf="piece.end" class="d-inline">{{piece.end}}</div></small>
            </div>
            <div class="card-body">
            {{piece.description}}
            </div>
          </div>
        </li>
        <li id="timelineEnd">
          <div class="card bg-dark">
            <div class="card-header">
              Education - Muhlenberg College <small class="float-right">September 2014 - May 2018</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">

</div>