<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light breadcrumb">
      <div class="container">
        <a class="navbar-brand text-center" routerLink="home">SAM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">

          <!-- MAIN NAVBAR MENU (home, js games, etc)-->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
          </ul>

          <!-- LOGIN/LOGOUT -->
          <ul class="nav navbar-nav navbar-right">
            <!-- <li *ngIf="!(isLoggedIn | async)"><a routerLink="login"><button class="btn">Login/Register</button></a></li>
          <li *ngIf="isLoggedIn | async"><button class="btn" (click)="logoutButt()">Logout<i class="fas fa-sign-out-alt"></i></button></li> -->
          </ul>

        </div>
      </div>
    </nav>
  </div>
</div>