<div class="row">
  <div class="col-sm-12">
    <h1 class="display-1">Alan Osamu Sato</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="display-4">(a.k.a <strong>SAM</strong>)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2 class="display-3"> Full Stack Developer with Taste</h2>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <p> I am a software developer with practical experience developing and deploying full-stack applications. I've created
      dynamic web sites utilizing popular front-end technologies such as Angular and Bootstrap, designed and
      implemented databases with Oracle SQL and developed server side application logic with Java and the Spring
      framework.</p>
  </div>
</div>