<!-- Main title/Tagline -->
<div class="row">
  <div class="col-sm-12">
    <h1 class="display-1">ALAN OSAMU SATO</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="display-4">(a.k.a <strong>SAM</strong>)</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2 class="display-3"> Full Stack Developer with Taste</h2>
  </div>
</div>
<hr />
<!-- Short description of myself-->
<div class="row">
  <div class="col-sm-12">
    <p> I am a software developer with practical experience developing and deploying full-stack applications. I've
      created
      dynamic web sites utilizing popular front-end technologies such as Angular and Bootstrap, designed and
      implemented databases with Oracle SQL and developed server side application logic with Java and the Spring
      framework.</p>
  </div>
</div>
<hr />
<!-- Social media links -->
<div class="row text-center">
  <div class="col-sm-4">
    <a href="https://www.linkedin.com/in/samalansato" target="_blank"><i class="fab fa-linkedin fa-5x"></i></a>
  </div>
  <div class="col-sm-4">
    <a href="https://github.com/halfcreative" target="_blank"><i class="fab fa-github-square fa-5x"></i></a>
  </div>
  <div class="col-sm-4">
    <a href="https://twitter.com/Halfcreative" target="_blank"><i class="fab fa-twitter-square fa-5x"></i></a>
  </div>
</div>