<div class="container">
  <div class="page-header">
    <h1 class="display-1 d-inline">Projects</h1>
    <small class="d-inline"> - Code I've made or worked on</small>
  </div>
  <hr />
  <div class="row">
    <!-- Project Cards-->
    <!-- Add a new card for each project-->
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="card-body">
          <!-- Project Title-->
          <h5 class="card-title">Screening Utility UI</h5>
          <!-- Technologies Used -->
          <h6 class="card-subtitle mb-2 text-muted">Angular</h6>
          <!-- Short Description -->
          <p class="card-text"> The user interface for an interview screening utility for Revature. Breaking down a
            larger monolithic application into it's seperate components, one of which being the screening component.</p>
          <!-- Link -->
          <a href="https://github.com/revaturelabs/screening-ui" class="card-link" target="_blank">Github</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="card-body">
          <!-- Project Title-->
          <h5 class="card-title">Blackjack Online</h5>
          <!-- Technologies Used -->
          <h6 class="card-subtitle mb-2 text-muted">Angular, Spring, Hibernate</h6>
          <!-- Short Description -->
          <p class="card-text"> An online version of the game of Blackjack. Utilizes a front-end designed in Angular, a
            Java server utilizing Spring, and a Oracle SQL database. Features user registration and login.</p>
          <!-- Link -->
          <a href="https://github.com/1807July30Java/Blackjack" class="card-link" target="_blank">Github</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="card-body">
          <!-- Project Title-->
          <h5 class="card-title">Python Search Engine</h5>
          <!-- Technologies Used -->
          <h6 class="card-subtitle mb-2 text-muted">Python</h6>
          <!-- Short Description -->
          <p class="card-text"> A simple search engine written in python. Given a domain and search phrase, will crawl
            over the domain and index the relavent pages, ranking them according to the relevance to the given phrase.</p>
          <!-- Link -->
          <a href="https://github.com/halfcreative/websearch" class="card-link" target="_blank">Github</a>
        </div>
      </div>
    </div>

    <div *ngFor="let project of projects" class="col-md-4">
      <div class="card bg-dark">
        <div class="card-body">
          <!-- Project Title-->
          <h5 class="card-title">{{project.name}}</h5>
          <!-- Technologies Used -->
          <h6 class="card-subtitle mb-2 text-muted">
            <ul class="list-inline">
              <li class="list-inline-item" *ngFor="let tech of project.techs">{{tech.name}}</li>
            </ul>
          </h6>
          <!-- Short Description -->
          <p class="card-text">{{project.description}}</p>
          <!-- Link -->
          <a href="{{project.url}}" class="card-link" target="_blank">{{project.urlName}}</a>
        </div>
      </div>
    </div>

  </div>
</div>