<!-- Navigation Bar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <!-- use this container to get the navbar content away from edge -->
  <div class="container">
    <!-- The "brand" goes here -->
    <a class="navbar-brand" routerLink="/home" id="navTitle">SAM</a>
    <!-- Button for expanding the navigation options when collapsed -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-target="#navbarHeader" aria-controls="navbar"
      [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <div class="navbar-collapse" [ngbCollapse]="!isCollapsed">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active"><i class="fas fa-terminal"></i> PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"><i class="fas fa-address-card"></i> CONTACT</a>
        </li>
      </ul>
      <!-- Random quote dependant on page -->
      <span class="navbar-text">
        {{pageQuote | async}}
      </span>
    </div>
    <!-- Designed by Alan Sato, utilizing Bootstrap 4.1 -->
  </div>
</nav>