/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700');
body {
    background-color: #3E4551;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden; 
}

hr {
    height: 5px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    border-radius: 7px 7px 7px 7px;
    color: whitesmoke;
}

.card {
    margin-bottom: 1rem;
}
app-root {
    overflow-x: hidden;
}
router-outlet~* {
    position: absolute;
}